div.wrapper {
    margin:50px;
    padding:30px;
    left:15%;
    width:800px;
    position: relative;
}

h1{
    text-align: center;
    background-color: cornflowerblue;
    color: white;
}

table.mother_table {
    border: 1px black;
    border-collapse: collapse;
    border-spacing: 0;
    width: 400px;
    height: 200px;
}

td{text-align:center;}
span.dp {
    margin: 40px 44px;
    text-align:center;
    display: none;
}

div#chr1:hover span.dp {display:inline;}

div#chr1 {
    background: rgb(183, 0, 255,1);
    width: 100px;
    height: 10%;
}
div#chr2 {
    background:rgb(183, 0, 255,0.5);
    width: 100px;
    height: 10%;
}

div#chr2:hover span.dp {display:inline;}

div.gradation {
    position:relative;
    height:70px;
    left:-50%;
    margin-left:400px;
}

div div span {
    position:relative;
    /* padding-top:20px; */
    text-align: center;
}